In [2]:
import pandas as pd

In [9]:
pd.read_csv("data_bio_albcr.csv").describe()

,SEQN,Albumin_gL,Glucose_mmolL,Urea_mmolL,Cholesterol_mmolL,Protein_gdL,Sodium_mmolL,Creatinine_umolL,Hemoglobin_gdl,Bilirubin_umolL,...,LDL_mmolL,Calcium_mmolL,Potassium_mmolL,AlkPhos_UL,Hematocrit_%,MCHC_gdl,MCV_fL,Platelet_TuL,RBC_MuL,AGE
count,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,2.262700e+04,...,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000,22627.000000
mean,54045.945198,41.978786,5.951900,4.850240,5.020950,7.194537,139.275759,78.033446,14.162929,1.188676e+01,...,2.984796,2.340288,4.038504,71.595748,41.909506,33.778495,89.533557,249.047594,4.693165,49.853449
std,29110.997040,3.636868,1.874032,2.163547,1.068647,0.492552,2.372917,40.030642,1.559447,5.395053e+00,...,0.932256,0.091940,0.351609,27.293616,4.426564,1.000690,5.848757,67.458217,0.515971,18.159483
min,2.000000,19.000000,1.170000,0.360000,1.780000,5.200000,107.000000,17.700000,6.100000,5.397605e-79,...,0.233000,1.725000,2.500000,7.000000,17.900000,27.600000,50.800000,4.000000,1.670000,20.000000
25%,29911.500000,40.000000,5.107000,3.570000,4.270000,6.900000,138.000000,61.880000,13.200000,8.550000e+00,...,2.327000,2.275000,3.800000,55.000000,39.000000,33.200000,86.600000,204.000000,4.350000,34.000000
50%,54895.000000,42.000000,5.500000,4.640000,4.940000,7.200000,139.000000,72.490000,14.200000,1.197000e+01,...,2.920000,2.350000,4.000000,67.000000,42.000000,33.800000,90.000000,242.000000,4.690000,49.000000
75%,79307.000000,44.000000,6.089000,5.710000,5.660000,7.500000,141.000000,88.400000,15.200000,1.368000e+01,...,3.543000,2.400000,4.220000,83.000000,45.100000,34.400000,93.100000,286.000000,5.040000,64.000000
max,102956.000000,57.000000,32.418000,34.990000,18.210000,11.300000,155.000000,1539.040000,19.700000,2.205900e+02,...,16.266000,3.700000,6.800000,1378.000000,59.000000,69.600000,121.900000,999.900000,8.300000,85.000000

In [6]:
pd.read_csv("../data/Final_data.csv")

,SEQN,GENDER,Albumin_mgl,Glucose_mmolL,Urea_mmolL,Cholesterol_mmolL,Protein_gdL,Sodium_mmolL,Creatinine_mgdl,Hemoglobin_gdl,...,LDL_mmolL,Calcium_mmolL,Potassium_mmolL,AlkPhos_UL,Hematocrit_%,MCHC_gdl,MCV_fL,Platelet_TuL,RBC_MuL,AGE
0,2,M,9.1,4.646,6.80,5.56,7.2,144.1,145.0,14.1,...,3.520,2.325,4.06,62.0,41.8,33.6,88.5,214.0,4.73,77
1,5,M,6.1,5.550,5.70,7.21,7.3,137.5,172.0,14.5,...,4.340,2.375,4.63,63.0,43.6,33.3,84.9,209.0,5.13,49
2,7,F,6.7,4.756,3.60,6.34,8.1,143.2,128.0,13.4,...,3.280,2.450,4.25,75.0,40.2,33.3,87.4,244.0,4.60,59
3,10,M,11.1,4.989,4.60,3.62,7.6,140.9,279.0,15.4,...,2.070,2.350,4.28,86.0,46.2,33.5,92.3,167.0,5.00,43
4,12,M,34.3,4.606,7.10,4.03,7.2,141.3,99.0,16.0,...,2.300,2.200,3.81,63.0,48.1,33.3,83.5,357.0,5.76,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22308,51616,M,1534.0,3.997,6.78,4.47,5.8,137.0,22.0,15.9,...,1.965,2.075,4.30,100.0,45.3,35.2,87.8,393.0,5.26,60
22309,51617,F,2.4,6.051,5.00,4.42,7.3,137.0,64.0,13.1,...,2.276,2.300,3.90,88.0,37.5,34.8,78.2,265.0,4.80,71
22310,51618,M,5.2,5.551,3.93,4.97,7.3,144.0,81.0,14.7,...,3.207,2.450,4.30,55.0,43.9,33.4,87.6,310.0,5.01,48
22311,51620,F,39.5,5.440,6.07,6.31,7.0,139.0,161.0,14.3,...,4.086,2.200,4.30,74.0,40.3,35.4,91.9,161.0,4.39,50
22312,51623,M,26.3,6.717,7.50,2.95,7.7,141.0,123.0,16.4,...,1.577,2.375,4.20,106.0,48.9,33.5,86.3,241.0,5.66,72

In [8]:
pd.read_csv("full_data.csv").describe()

,GENDER,Albumin_gL,Glucose_mmolL,Urea_mmolL,Cholesterol_mmolL,Protein_gdL,Sodium_mmolL,Creatinine_umolL,Hemoglobin_gdl,Bilirubin_umolL,...,HDL_mmolL,LDL_mmolL,Calcium_mmolL,Potassium_mmolL,Hematocrit_%,MCHC_gdl,MCV_fL,Platelet_TuL,RBC_MuL,AGE
count,22627.000000,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,...,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,2.262700e+04,22627.000000
mean,0.478057,-4.588066e-16,2.267059e-16,1.229258e-16,1.604860e-16,-2.062727e-15,2.510948e-15,2.018011e-16,-3.411579e-16,-1.806327e-16,...,-2.876462e-16,1.308426e-16,-2.296303e-17,-1.560092e-15,8.625756e-16,4.751477e-15,6.819822e-16,-4.617384e-17,-1.096622e-15,49.853449
std,0.499529,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,...,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,18.159483
min,0.000000,-6.316355e+00,-2.564681e+00,-2.075208e+00,-3.029743e+00,-4.055856e+00,-1.364649e+01,-1.517442e+00,-5.186348e+00,-2.187587e+00,...,-3.009182e+00,-2.949180e+00,-6.708536e+00,-4.385310e+00,-5.435076e+00,-6.186333e+00,-6.582046e+00,-3.659145e+00,-5.861002e+00,20.000000
25%,0.000000,-5.457246e-01,-4.492738e-01,-5.897284e-01,-7.025231e-01,-5.997739e-01,-5.409548e-01,-4.058294e-01,-6.201814e-01,-6.151608e-01,...,-7.034634e-01,-7.067357e-01,-7.094706e-01,-6.783940e-01,-6.602555e-01,-5.765505e-01,-4.988363e-01,-6.708336e-01,-6.662371e-01,34.000000
50%,0.000000,3.859286e-03,-2.381093e-01,-1.130791e-01,-7.632325e-02,1.012302e-02,-1.181957e-01,-1.388713e-01,2.294067e-02,1.380965e-02,...,-1.937784e-01,-6.955587e-02,7.987108e-02,-1.097403e-01,1.862899e-02,2.449764e-02,7.833876e-02,-1.166339e-01,-7.199785e-03,49.000000
75%,1.000000,5.769453e-01,6.063756e-02,4.005914e-01,5.966079e-01,6.200199e-01,7.273225e-01,2.614399e-01,6.660627e-01,3.319731e-01,...,5.586138e-01,5.954671e-01,6.539534e-01,5.157787e-01,7.201430e-01,6.255457e-01,6.091149e-01,5.543741e-01,6.712210e-01,64.000000
max,1.000000,4.125738e+00,1.422532e+01,1.395039e+01,1.232617e+01,8.345381e+00,6.645950e+00,3.676097e+01,3.560112e+00,3.838101e+01,...,1.077659e+01,1.422041e+01,1.483356e+01,7.851411e+00,3.865641e+00,3.588703e+01,5.540197e+00,1.122115e+01,6.990226e+00,85.000000